 h1{
    font-size: 150px;
    color: #2334df;
    text-decoration: underline;
    text-transform: lowercase;
 } 

 p{
    text-align: center;
    /* text-indent: 100px; */
    text-decoration: line-through;
    text-transform: capitalize;
    /* letter-spacing: 5px; */
    word-spacing: 5px;
 }
 a{
    text-decoration: none;
 }